# Ignore Terraform directories and state files
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d/

# Ignore Terraform variable files
*.tfvars
*.tfvars.json
terraform.tfvars

# Ignore lock files and crash logs
.terraform.lock.hcl
crash.log

# Ignore sensitive override files
*.auto.tfvars
*.auto.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
*.config.json
terraform.tfvars

